API_KEY="<your-gpt4.1mini-key>"
ENDPOINT="https://<yourfoundryprojectname>.cognitiveservices.azure.com/openai/deployments/gpt-4.1-mini/chat/completions?api-version=2025-01-01-preview"
DEPLOYMENT_NAME="gpt-4.1-mini"
APPLICATION_INSIGHTS_CONNECTION_STRING="<copy from your AI Studio Evaluation Tab -> Manage Data Source>"
SEMANTICKERNEL_EXPERIMENTAL_GENAI_ENABLE_OTEL_DIAGNOSTICS_SENSITIVE=true # This will track sensitive data like prompts and responses, so use with caution!
